@font-face{
	font-family:SF-Pro-Display-Regular;
	src:url(fonts/SF-Pro-Display-Regular.otf);
}
body{
	::-webkit-scrollbar{
		display:none;
	}
	*{
		box-sizing:border-box;
		outline:none;
		user-select:none;
	}
	.action{
		padding:0 .25em 0 .25em;
	}
	.action:not(.action-blocked){
		cursor:pointer;
		opacity:.5;
		transition:.5s;
	}
	.action:before,
	.action:after{
		opacity:.25;
		transition:.5s;
	}
	.action:before{
		content:'\21A0';
		margin:0 .25em 0 0;
	}
	.action:after{
		content:'\219E';
		margin:0 0 0 .25em;
	}
	.action:hover{
		opacity:.75;
	}
	.action:hover:before,
	.action:hover:after{
		opacity:1;
	}
	.action-blocked{
		color:initial;
		pointer-events:none;
		text-decoration:line-through;
		opacity:.25;
	}
	>div{
		position:absolute;
	}
	#account{
		#selected-account-wrapper{
			.selected-account-arrow{
				cursor:pointer;
				display:inline-block;
				flex:1;
				padding:0 .5em;
				rotate:180deg;
				text-align:left;
			}
			.selected-account-arrow~.selected-account-arrow{
				rotate:none;
			}
			.selected-account-arrow::before,
			.selected-account-arrow::after{
				transition:.5s;
			}
			.selected-account-arrow::before{
				content:'\00B7';
				position:absolute;
				translate:.25em;
			}
			.selected-account-arrow::after{
				content:'\27A4';
			}
			.static-account{
				opacity:.4;
				pointer-events:none;
			}
			.selected-account-arrow:hover::before{
				opacity:.5;
			}
			.selected-account-arrow:hover::after{
				padding:0 .5em;
			}
			>div{
				display:inline-block;
			}
			#selected-account-name:empty:before{
				content:'No Accounts';
				opacity:.5;
			}
			display:flex;
			width:100vw;
		}
		#accounts-dots{
			font-size:.5em;
			height:1em;
		}
		#create-account,
		#report-balance{
			font-size:calc(1em / 3);
		}
		#selected-account-balance{
			font-size:.75em;
		}
		#selected-account-balance:empty:before{
			content:'No Balance';
			opacity:.5;
		}
		#selected-account-balance:not(:empty):before{
			content:'$';
		}
		font-size:3em;
		left:50%;
		text-align:center;
		top:30%;
		translate:-50%;
	}
}